.container {
  height: 100%;
  display: flex;
  align-items: stretch;
  /* flex-flow: column; */
  height: 100%;
}

.globalContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

.topLeft {
  grid-column-start: 1;
  grid-row-start: 1;
  height: 100%;
  padding: 20px 20px 10px 20px;
}

.rightCol {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.leftCol {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.topRight {
  grid-row-start: 1;
  height: 100%;
  padding: 20px 20px 10px 20px;
}

.bottomRight {
  grid-row-start: 2;
  height: 100%;
  padding: 10px 20px 20px 20px;
}

.label {
  padding-bottom: 20px;
}

.question {
  padding-bottom: 40px;
}

.adjective {
  display: inline-block;
  border: solid black;
  border-radius: 80px;
  width: auto;
  padding: 0px 64px 10px 64px;
}

.bottomLeft {
  height: 100%;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.bottomLeft p {
  justify-content: end;
}
