.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.globalContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

.topLeft {
  grid-column-start: 1;
  grid-row-start: 1;
  height: 100%;
  padding: 20px 20px 10px 20px;
}

.backgroundGradient {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.rightCol {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.leftCol {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.topRight {
  grid-row-start: 1;
  height: 100%;
  padding: 20px 20px 10px 20px;
}

.bottomRight {
  grid-row-start: 2;
  height: 100%;
  padding: 10px 20px 20px 20px;
}

.label {
  padding-bottom: 20px;
}

.question {
  padding-bottom: 20px;
}

.adjective {
  display: inline-block;
  border: solid black;
  border-radius: 80px;
  width: auto;
  padding: 0px 36px 10px 36px;
}

.bottomLeft {
  height: 100%;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.bottomLeft p {
  justify-content: end;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .leftCol {
    display: grid;
    grid-template-rows: 1fr auto;
    height: auto;
  }

  .adjective {
    padding: 0px 12px 0px 12px;
  }

  .question {
    padding-bottom: 10px;
  }
}
