.container {
  padding: 20px;
  justify-items: start;
  height: 100%;
  background: #03091a;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: scale(1);
  transition: 0.2s;
}

.container:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.container:active {
  transform: scale(1);
}

.fontName {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  position: absolute;
  top: 20px;
}

.pengram {
  color: white;
  display: block;
  text-align: center;
  padding: 0px 20px;
}
