.container {
  height: 100%;
  background: #03091a;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: scale(1);
  transition: 0.2s;
}

.container:hover {
  transform: scale(1.005);
  cursor: pointer;
}

.container:active {
  transform: scale(0.99);
}

/* –––––– */

.container:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(20px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, filter 0.1s;
  border-radius: 32px;
}

.container:active:before {
  filter: blur(5px);
}

.container:hover:before {
  opacity: 1;
}

.container:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 32px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
