.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 16px 20px;
  border-bottom: 1px solid black;
}

.container p:last-child {
  display: flex;
  justify-content: flex-end;
}
